.heart:hover{
    cursor: pointer;
    color: red;
}

.img-card{
    transition: .5s;
}

.card:hover > div > .img-card{
    transform: scale(1.3);
}

.cardbody-custom{
    background-color: var(--color-p);
    backdrop-filter: blur(15px);
}