.heart:hover{
    cursor: pointer;
    color: red;
}

/* .heart:hover{
    cursor: pointer;
    color: red;
} */

.img-card{
  transition: .5s;
}

.card:hover > div > .img-card{
  transform: scale(1.3);
}

