textarea {
  resize: none;
}

/* bottone */
.btn-custom-login{
  border: 1px solid var(--color-a)
}

.btn-custom-login:hover{
  border: 1px solid var(--color-a);
  color: var(--color-a)
}

.btn-custom-register{
  background-color: var(--color-a);
  color: var(--color-s);
}

.btn-custom-register:hover{
  background-color: var(--color-a);
  color: var(--color-s)
}


.underline-colors {
  position: relative;
  display: inline-block;
}

.underline-colors::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -6px; 
  width: 100%;
  height: 6px; 
  background: linear-gradient(to right, var(--color-a), var(--color-p), var(--color-s), var(--color-a), var(--color-a)) 0 0 / 300% 100%;
  animation: underline-colors 5s linear infinite;
}

@keyframes underline-colors {
  to {
    background-position: -200% 0;
  }
}


