textarea {
  resize: none;
}

/* bottone */
.btn-custom-login{
  border: 1px solid var(--color-a)
}

.btn-custom-login:hover{
  border: 1px solid var(--color-a);
  color: var(--color-a)
}

.btn-custom-register{
  background-color: var(--color-a);
  color: var(--color-s);
}

.btn-custom-register:hover{
  background-color: var(--color-a);
  color: var(--color-s)
}

/* Toglie il bordo dal toggle */
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 transparent;
}