:root {
   --color-s:#1e2029;
   --color-p:#e3e3e3;
   --color-a:#e0ff00;
}

.bg-s{
    background-color: var(--color-s); /*colore secondary*/
}

.bg-a{
    background-color: var(--color-a); /*colore accent*/
}

.bg-p{
    background-color: var(--color-p); /*colore primary*/
}

.text-a{
    color: var(--color-a); /*text accent*/
}

.text-p{
    color: var(--color-p); /*text primary*/
}

.text-s{
    color: var(--color-s); /*text secondary*/
}

.btn-accent{
    background-color: var(--color-a);
    color: var(--color-s);
}